<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration">

<hibernate-configuration>
    <session-factory>
    
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="show_sql">false</property> 
		<property name="hbm2ddl.auto">update</property>
		
		<!-- Entidades -->
		<mapping class="entitites.PersonaBasica" />
		<mapping class="entitites.Persona" />
		<mapping class="entitites.Precio" />
		<mapping class="entitites.Localidad" />
		<mapping class="entitites.HistoriaEstadoProp" />
		<mapping class="entitites.Inmobiliaria" />
		<mapping class="entitites.Propiedad" />
		<mapping class="entitites.Propietario" />
				
    </session-factory>
</hibernate-configuration>