<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration">

<hibernate-configuration>
    <session-factory>
    
    	<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="show_sql">false</property> 
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hbm2ddl.auto">update</property>
		
		<!-- Entidades -->
		<mapping class="entities.PersonaBasica" />
		<mapping class="entities.Persona" />
		<mapping class="entities.Precio" />
		<mapping class="entities.Localidad" />
		<mapping class="entities.HistoriaEstadoProp" />
		<mapping class="entities.Inmobiliaria" />
		<mapping class="entities.Propiedad" />
		<mapping class="entities.Propietario" />
		<mapping class="entities.Foto" />
		<mapping class="entities.Telefono" />
		<mapping class="entities.Cliente" />
		<mapping class="entities.GastoFijo" />
		
		<mapping class="entities.AvisoNotificacion" />
		<mapping class="entities.Cartel" />
		<mapping class="entities.Contrato" />
		<mapping class="entities.ContratoAlquiler" />
		<mapping class="entities.ContratoVenta" />
		<mapping class="entities.CuotaAlquiler" />
		<mapping class="entities.DatosActualizacionContrato" />
		<mapping class="entities.DatosPunitorioContrato" />
		<mapping class="entities.HistoriaEstadoContrato" />
		<mapping class="entities.HistoriaEstadoCuota" />
		<mapping class="entities.Ingreso" />
		<mapping class="entities.Egreso" />
		<mapping class="entities.IngresoAlquiler" />
		<mapping class="entities.IngresoVenta" />
		<mapping class="entities.InteresPunitorioCuota" />
		<mapping class="entities.PagoPropietario" />
		<mapping class="entities.Reserva" />
		<mapping class="entities.Usuario" />		
		<mapping class="entities.Habitacion" />	
		<mapping class="entities.PropiedadOtrosDatos" />
		<mapping class="entities.TipoHabitacion" />
		<mapping class="entities.Cita" />
		<mapping class="entities.Interesado" />
		<mapping class="entities.Preferencia" />
		<mapping class="entities.NotificacionCita" />
		<mapping class="entities.OfrecimientoAlquiler" />
		<mapping class="entities.OfrecimientoVenta" />
		<mapping class="entities.Provincia" />
    </session-factory>
</hibernate-configuration>